.header{

background:white;

}


.tarea{

background:white;

}

.options{

background:white;
clear:left;
}

.next{

background:white;

}


body{

background:white;

}

.container{

background:white;

}

textarea{
background:#fff;
float:left;
resize:none;
font-size:20px;
width:30em;
border:.2em solid #eee;
border-radius:5em;
text-align:center;
padding:1em;
}

strong{

clear:left;
font-size:20px;

}

*{

margin:0 auto;
border:0;
padding:.5em;


}

input[type='button']{

background:white;
color:navy;
border-radius:10em;
text-align:center;
border:0.2em solid black;

}

label{

padding:0.5em;

}